<a href="https://colab.research.google.com/github/robertoarturomc/ProgramacionInformacion/blob/main/1_Reto_Modelado_Estadistico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Reto Modelación Estadística
## 1. Funciones Básicas de Probabilidad

In [ ]:
df <- read.csv("Customer-Churn-Records.csv")
head(df)

  RowNumber CustomerId Surname  CreditScore Geography Gender Age Tenure
1 1         15634602   Hargrave 619         France    Female 42  2
2 2         15647311   Hill     608         Spain     Female 41  1
3 3         15619304   Onio     502         France    Female 42  8
4 4         15701354   Boni     699         France    Female 39  1
5 5         15737888   Mitchell 850         Spain     Female 43  2
6 6         15574012   Chu      645         Spain     Male   44  8
  Balance   NumOfProducts HasCrCard IsActiveMember EstimatedSalary Exited
1      0.00 1             1         1              101348.88       1
2  83807.86 1             0         1              112542.58       0
3 159660.80 3             1         0              113931.57       1
4      0.00 2             0         0               93826.63       0
5 125510.82 1             1         1               79084.10       0
6 113755.78 2             1         0              149756.71       1
  Complain Satisfaction.Score Card.Type Point.Earned
1 1        2                  DIAMOND   464
2 1        3                  DIAMOND   456
3 1        3                  DIAMOND   377
4 0        5                  GOLD      350
5 0        5                  GOLD      425
6 1        5                  DIAMOND   484

### Resultados Igualmente Probables
¿Cuál será la probabilidad de que el cliente tenga Tarjeta de Crédito?

$P(Tiene Tarjeta) = Total Clientes que tienen Tarjeta / TotalClientes$

In [ ]:
dim(df)

[1] 10000    18

In [ ]:
p_tarjeta <- sum(df$HasCrCard) / dim(df)[1]

p_tarjeta

[1] 0.7055

¿Y la probabilidad de que el cliente se haya quejado (Complain)?

In [ ]:
p_complain <- sum(df$Complain) / dim(df)[1]
p_complain

[1] 0.2044

¿Y el Complemento de una Probabilidad?

$P(TieneTarjeta^\complement)$

In [ ]:
1 - p_tarjeta

[1] 0.2945

### Probabilidad de Dos eventos

- Intersección

$P(España \land Male)$

In [ ]:
# Tabla de Frecuencia

table(df$Gender, df$Geography)

         France Germany Spain
  Female   2261    1193  1089
  Male     2753    1316  1388

In [ ]:
1388 / 10000

#1388 / dim(df)[1]

[1] 0.1388

In [ ]:
sum(df$Gender == "Male" & df$Geography == "Spain") / dim(df)[1]

[1] 0.1388

- Unión

$P(Spain \lor Male)$

In [ ]:
addmargins( table(df$Gender, df$Geography) )

         France Germany Spain Sum
  Female 2261   1193    1089   4543
  Male   2753   1316    1388   5457
  Sum    5014   2509    2477  10000

In [ ]:
(2753 + 1316 + 1388 + 1089) / 10000

(5457 + 1089) / 10000

[1] 0.6546

[1] 0.6546

In [ ]:
sum(df$Gender == "Male" | df$Geography == "Spain") / dim(df)[1]

[1] 0.6546


Como no son eventos independientes, también puedo calcularlo así (Regla de la Adición):

$P(Spain \lor Male) = P(Spain) + P(Male) - P(Spain \land Male) $

In [ ]:
p_spain <- sum(df$Geography == "Spain") / dim(df)[1]
p_male <- sum(df$Gender == "Male") / dim(df)[1]
p_spain_and_male <- sum(df$Geography == "Spain" & df$Gender == "Male") / dim(df)[1]

p_spain_or_male <- p_spain + p_male - p_spain_and_male
p_spain_or_male

[1] 0.6546

In [ ]:
(sum(df$Geography == "Spain") + sum(df$Gender == "Male") - sum(df$Geography == "Spain" & df$Gender == "Male") ) / dim(df)[1]

[1] 0.6546

### Eventos Mutuamente Excluyentes

Para la Probabilidad de, digamos, que una persona sea de España o de Alemania.

En este Dataset, no tengo doble nacionalidad, así que los eventos son mutuamente excluyentes. ¿Cómo podía calcular la probabilidad en estos casos?

$P(A \land B) = 0$

$P(A \lor B) = P(A) + P(B)$

In [ ]:
p_Espana <- sum(df$Geography == "Spain") / dim(df)[1]
p_Alemania <- sum(df$Geography == "Germany") / dim(df)[1]

p_espana_o_alemania <- p_Espana + p_Alemania
p_espana_o_alemania

[1] 0.4986

### Probabilidad Condicional

Recuerda que:

$P(A|B)=P(A \land B)/P(B)$

Por lo tanto, ¿cómo puedo calcular la Probabilidad de que alguien tenga Tarjeta de Crédito **Dado que** gana más de $100,000 ?


$P(TieneTarjeta|Mas\$100,000)=P(TieneTarjeta \land Mas\$100,000)/
P(Mas\$100,000)$

In [ ]:
head( df[, c("HasCrCard", "EstimatedSalary")] )

  HasCrCard EstimatedSalary
1 1         101348.88
2 0         112542.58
3 1         113931.57
4 0          93826.63
5 1          79084.10
6 1         149756.71

In [ ]:
df["Salary_Above_100000"] <- df["EstimatedSalary"] > 100000

head( df["Salary_Above_100000"] )

  Salary_Above_100000
1  TRUE
2  TRUE
3  TRUE
4 FALSE
5 FALSE
6  TRUE

Por cierto, recuerda que en prácticamente todos los Lenguajes de Programación, los TRUE equivalen a un 1, y los FALSE, a un 0.

Esto queda más claro cuando decido, por ejemplo, sumar 0 a todos los resultados.

In [ ]:
df["Salary_Above_100000"] <- df["Salary_Above_100000"] + 0
head( df["Salary_Above_100000"] )

  Salary_Above_100000
1 1
2 1
3 1
4 0
5 0
6 1

Ahora sí, ¿cómo calculo esto?

$ P(TieneTarjeta \land Mas\$100,000) $

In [ ]:
p_tarjeta_y_mas100000 <- sum( df["HasCrCard"] & df["Salary_Above_100000"] ) / dim(df)[1]
p_tarjeta_y_mas100000

[1] 0.351

In [ ]:
p_mas100000 <- sum( df["Salary_Above_100000"] ) / dim(df)[1]
p_mas100000

[1] 0.501

In [ ]:
p_tarjeta_dado_mas100000 <- p_tarjeta_y_mas100000 / p_mas100000
p_tarjeta_dado_mas100000

[1] 0.7005988

Es decir, 70.06 % Aproximadamente.

In [ ]:
addmargins( table(df$HasCrCard, df$Salary_Above_100000) )

      0    1    Sum
  0   1445 1500  2945
  1   3545 3510  7055
  Sum 4990 5010 10000

In [ ]:
3510/5010

[1] 0.7005988

¡Ojo!

Recuerda que:

$ P(A|B) \neq P(B|A) $

y que dos eventos son **Independientes** si y solo si,

$ P(A|B) = P(A) $

Además, la independencia no es lo mismo que dos eventos sean mutuamente excluyentes.

Cuando dos eventos son independientes, tenemos que:

$ P(A \land B) = P(A)P(B) $

Pregunta:

¿Que una persona tenga tarjeta de crédito es independiente de que gane más de $100,000?

Entonces, hay otra forma de calcular esto:

$ P(TieneTarjeta \land Mas\$100,000) $

In [ ]:
# Hace rato

p_tarjeta_y_mas100000 <- sum( df["HasCrCard"] & df["Salary_Above_100000"] ) / dim(df)[1]
p_tarjeta_y_mas100000

[1] 0.351

In [ ]:
p_tarjeta

[1] 0.7055

In [ ]:
p_mas100000

[1] 0.501

In [ ]:
p_tarjeta * p_mas100000

[1] 0.3534555

$ P(A \land B) \neq P(A)P(B) $

Entonces los eventos no fueron independientes.

Incluso, podemos usar R a nuestro favor para confirmar cosas más complejas.

Por ejemplo, el Teorema de la Probabilidad Total.

$ 𝑃 (𝐵) = \sum P(A_i \land B) $

$ 𝑃 (𝐵) = \sum P(B|A_i)P(A_i) $


Vamos a calcular de esta manera:

$P(B)$

Dado que:

$A_1$ = La persona es de España

$A_2$ = La persona es de Francia

$A_3$ = La persona es de Alemania

$B$ = La persona gana más de $100,000

In [ ]:
p_mas100000

[1] 0.501

In [ ]:
espana <- df["Geography"] == "Spain"
p_espana_y_mas100000 <- sum(espana & df["Salary_Above_100000"] ) / dim(df)[1]
p_espana_y_mas100000

[1] 0.1238

In [ ]:
francia <- df["Geography"] == "France"
p_francia_y_mas100000 <- sum(francia & df["Salary_Above_100000"] ) / dim(df)[1]
p_francia_y_mas100000

alemania <- df["Geography"] == "Germany"
p_alemania_y_mas100000 <- sum(alemania & df["Salary_Above_100000"] ) / dim(df)[1]
p_alemania_y_mas100000

[1] 0.2495

[1] 0.1277

In [ ]:
p_espana_y_mas100000 + p_francia_y_mas100000 + p_alemania_y_mas100000

[1] 0.501