# Ejercicios de Repaso - Python

## Heroes de RPymoli
Trabajaremos con un set de datos que contiene información de usuarios que juegan online, y las compras de objetos que estos han realizado dentro del videojuego.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot

In [7]:
# Cargar archivo
file_to_load = "https://raw.githubusercontent.com/robertoarturomc/ProgramacionInformacion/main/resources/purchase_data.csv"

# Leer archivo y guardarlo en un Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### 1. Conteo de Compras
Muestra cuántos compras hubo en total.

### 2. Calcula la edad promedio y la mediana de precios
Guarda esos valores en variables.

### 3. Calcula el porcentaje y conteo de cada uno de los valores distintos que aparezcan en "Gender"

### 4. Calcula: ¿qué cinco usuarios (_SN_) gastaron más en total?

### 5. ¿Qué 10 _items_ fueron los más comprados por las mujeres?

### 6. Los usuarios con mayor edad, ¿compran cosas más caras?
Agrupa según edad, calcula el promedio gastado por cada edad y en tu tabla que resulte, has lo siguiente:
* a) Calcula la correlación entre edad y gasto
* b) Haz un gráfico de dispersión. Incluye títulos en los ejes y en general.

### 7. Crea una nueva columna: calcula la edad, pero en meses.

### 8. Renombra las columnas: "SN" a "username" e "Item Name" a "Name".

### 9. Calcula, usando un ciclo for, el valor al cubo de todos los elementos del siguiente arreglo:

In [17]:
lista = [1, 2, 3, 4]

### 10. Generaliza el código anterior: crea una función que reciba de entrada _cualquier_ lista y regrese los valores al cubo.

### 11. Calcula, usando NumPy, el cubo de todos los elementos de _lista_

### 12. Genera un gráfico de Barras: utiliza los conteos que aparecen en tu ejercicio 3.
Incluye títulos.

### 13. Genera un gráfico: utiliza los conteos que aparecen en tu ejercicio 5.
Considera utilizar un gráfico horizontal.

### 14. Filtra: observa solamente el valor de la décima hilera y segunda columna.