### Programación de la Información
# Examen Final

Lee con detenimiento y contesta lo que se te solicita. Antes de finalizar, sube tu archivo en formato .ipynb al espacio correspondiente en Brightspace.

Cada ejercicio tiene el mismo peso. El examen se califica sobre 16 puntos. Todos los ejercicios de este Notebook deberán ser contestados usando Python.

¡Mucho éxito, y que la fuerza los acompañe!

## 1. Crea una variable llamada _id_. Guarda en ella el valor numérico de tu ID de estudiante, sin usar ceros al principio.

## 2. Crea una lista llamda *mi_familia*. Llénala con los nombres de, al menos, 5 miembros de tu familia (puedes inventar algunos).

## 3. Extrae:
### * Si tu id es par, el tercer elemento.
### * Si tu id es impar, el segundo elemento.

## 4. Programa, usando una condicional, el siguiente enunciado:
### "Si el largo de *mi_familia* es mayor que 5, imprime 'Tengo una familia grande'. De lo contrario, imprime 'Tengo una familia pequeña' "

## 5. Del siguiente diccionario, extrae el apellido del jugador cuyo número sea igual al último dígito de tu ID.
### Por ejemplo, si mi ID es 123456, ¿qué tengo que hacer para ver el apellido del jugador con el dorsal *6*?

In [4]:
barcelona = {1:{"apellido":"ter Stegen", "posicion":"portero"},
             2:{"apellido":"Dest", "posicion":"Lateral derecho"},
             3:{"apellido":"Piqué", "posicion":"Defensa central"},
             4:{"apellido":"Araújo", "posicion":"Defensa central"},
             5:{"apellido":"Busquets", "posicion":"Pivote"},
             6:{"apellido":"Puig", "posicion":"Mediocentro"},
             7:{"apellido":"Dembélé", "posicion":"Extremo derecho"},
             8:{"apellido":"Alves", "posicion":"Lateral derecho"},
             9:{"apellido":"Depay", "posicion":"Delantero centro"},
             0:{"apellido":"Fati", "posicion":"Extremo izquierdo"},
}

## 6. Ahora, generaliza lo que hiciste anteriormente. Crea una función llamada `jugador()`, en donde especifiques el número de jugador y a cambio te regrese su apellido.
### Por ejemplo, si escribo `jugador(6)`, me deberá imprimir "Puig".

In [ ]:
jugador(6)

## 7. Convierte el diccionario _barcelona_ a un DataFrame de pandas. Llámalo *barcelona_df*.
Tip: quizá necesites leer alguna librería...

## 8. Corre el siguiente código para _girar_ la tabla. Usa barcelona_df2, para extraer el apellido del jugador cuyo número sea igual al último dígito de tu ID (igual que en el ejercicio 5)

In [13]:
barcelona_df2 = barcelona_df.T
barcelona_df2.head()

     apellido         posicion
1  ter Stegen          portero
2        Dest  Lateral derecho
3       Piqué  Defensa central
4      Araújo  Defensa central
5    Busquets           Pivote

## 9. Crea una nueva columna en *barcelona_df2*. Llámala "valor (millones euros)" y llénala con los siguientes valores:

`55, 30, 7.5, 25, 9, 15, 50, 45, 60`

## 10. Ordena la tabla según "valor (millones euros)", de mayor a menor. Guarda el resultado con el mismo nombre (barcelona_df2)

## Heroes de Rpymoli

In [20]:
# Cargar archivo
file_to_load = "https://raw.githubusercontent.com/robertoarturomc/ProgramacionInformacion/main/resources/purchase_data.csv"

# Leer archivo y guardarlo en un Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## 11. Calcula el precio promedio y la edad máxima.

In [18]:
# Precio promedio

In [ ]:
# Edad máxima

## 12. Calcula: ¿qué cinco usuarios (SN) gastaron más en total?

## 13. Los usuarios con mayor edad, ¿compran cosas más caras?
Agrupa según edad, calcula el promedio gastado por cada edad y en tu tabla que resulte, **haz un gráfico de dispersión**. Incluye títulos en los ejes y en general.

### 14. Por la inflación, ¡los precios se elevarán al cuadrado! 
Calcula los nuevos precios, **usando una función de NumPy**

## 15. Imprime la dimensión de *purchase_data*

## 16. Escribe al menos dos diferencias entre R y Python.

## 17. Describe para qué sirve el símbolo `%>%` en el siguiente código de R:

`table %>% select(columna1)  %>% filter(columna2 > 10)`