<a href="https://colab.research.google.com/github/robertoarturomc/ProgramacionInformacion/blob/main/Proyecto_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Para el proyecto final, vamos a trabajar con el dataset contenido en la siguiente pagina:

https://www.kaggle.com/datasets/parulpandey/forbes-highest-paid-athletes-19902019?resource=download

Tu primer tarea sera descargar el archivo (viene en una carpeta comprimida .zip). Una vez descargado, haz clic en el dibujo de la carpeta que aparece en la barra de la izquierda, para cargar el archivo.

Ya que este cargado, prueba a correr la siguiente celda para leer los datos (adaptala de ser necesario).

In [ ]:
data = pd.read_csv("richest_athletes.csv")
data.head()

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0

En la tabla, tenemos datos sobre **los deportistas mejor pagados**, de 1990 a 2020. Tenemos informacion sobre su pais de origen, su ranking (aparecen 10 por año), el ranking del año anterior, su deporte y su ganancia en millones de dolares.

Ahora, tu tarea es investigar mas a detalle sobre este dataset. El trabajo es abierto: curiosea, investiga y rasca a fondo. La idea es obtener *insights*, datos que no sabiamos antes.

¿Qué se va a calificar?
El proyecto vale 20% de la calificacion final.

El primer 10% corresponde a la parte tecnica: 
1. Que respondas a 10 preguntas. Para ello, introduce una celda de texto (en la barra de arriba aparece un letrero de "+ Texto") y explica qué pregunta te hiciste sobre los datos y vas a responder. Por ejemplo: ¿Qué deportista fue el mejor pagado el año en el que nací?
2. Que pongas la linea o el bloque de código que responda a esa pregunta que te hiciste.
3. Una pequeña conclusión que hable sobre cada bloque de código.

Deberas incluir: 
* al menos tres lineas de código con funciones que **NO** vimos en clase.
* Al menos dos gráficos.

--

El otro 10% es la parte de las habilidades suaves:
* Hay que saber traducir problemas de la vida real y convertirlos a problemas tecnicos, sin perder de vista el problema que estamos tratando de resolver. 
* Asegurate de que estes investigando asuntos relevantes (no seas taaaan especifico, ni tan general).
* Asegurate que el codigo corresponda con lo que se supone que estas investigando.
* Asegurate que tus conclusiones sean relevantes.

El proyecto se entregará el dia que está programado el examen final en el calendario. No habrá prórrogas.