### Programación de la Información
# Tercer Parcial

Lee con detenmimiento y contesta lo que se te solicita. Antes de finalizar, sube tu archivo en formato .ipynb al espacio correspondiente en Brightspace.

Recuerda: si no te sale el resultado, deja escrito tu intento.

¡Mucho éxito, y que la suerte esté siempre de su lado!

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## El Índice _Big Mac_

Inventado por _The Economist_ en 1986, es una guía para saber si las monedas están en su nivel "correcto". Se basa en la teoría de la paridad del poder adquisitivo (PPA); "el dólar debe comprar la misma cantidad de bienes o servicios en todos los países".

Por ejemplo: Una _Big Mac_ cuesta £3.49 en Reino Unido y $5.65 USD en los Estados Unidos. El tipo de cambio implícito es 0.62 dólares = 1 libra. El tipo de cambio real es de 0.73, lo sugiere que la libra esterlina está subvaluada en un 15.9%.

A continuación, leerás y "limpiarás" los costos de la Big Mac en un grupo de países.

In [2]:
wiki = pd.read_html('https://es.wikipedia.org/wiki/%C3%8Dndice_Big_Mac')

df_sucio = wiki[1]
df_sucio.tail()

          PAIS PRECIO PROMEDIO  SUELDO MEDIO RESULTADO
22      Suecia    6.37 dolares          3122       490
23     Holanda       8 dolares          3408       486
24     Irlanda       7 dolares          3016       430
25  Luxemburgo      10 dolares          4200       420
26        Oman         No data          3135   No data

In [3]:
df = df_sucio.iloc[:-1, :].copy()
df["RESULTADO"] = df["RESULTADO"].astype("float")
precios = df["PRECIO PROMEDIO"].str.split(" ")
df["PRECIO PROMEDIO"] = precios.apply(lambda x: x[0])
df.tail()

           PAIS PRECIO PROMEDIO  SUELDO MEDIO  RESULTADO
21  Reino Unido            4.44          2297      517.0
22       Suecia            6.37          3122      490.0
23      Holanda               8          3408      486.0
24      Irlanda               7          3016      430.0
25   Luxemburgo              10          4200      420.0

¡Debo agregar las unidades, para que no se me olvide que estoy trabajando con Dólares!
### 1. Renombra las columnas y guarda los resultados en _df_: 
* "PAIS" a "Pais" 
* "PRECIO PROMEDIO" a "Precio (USD)"
* "SUELDO MEDIO" a "Sueldo (USD)"
* "RESULTADO" a "Resultado"

### 2. Ordena la tabla según _Precio (USD)_. 
No importa si es de mayor a menor o menor a mayor. Eso sí, ¡guarda los resultados en _df_.

### 3. Haz un _scatterplot_ (gráfica de puntos o de dispersión) de `df["Sueldo (USD)"]` y `df["Precio (USD)"]`.
Esto te servirá para ver si hay alguna correlación (¿Las hamburguesas son más caras en los países que ganan más?).

Veamos en dónde son más caras las Big Mac.
### 4. Haz una gráfica de barras Horizontales que muestre los precios en los distintos países.
Tip: deberás utilizar `df["Pais"]` y `df["Precio (USD)"]`.

Finalmente, para ver qué tantas Big Mac se pueden comprar con el salario promedio alrededor del mundo...
### 5. Haz un Histograma de `df["Resultado"]`. Especifica bins=5.

Bonus: espero que hayas agregado títulos generales y a los ejes de tus gráficos...