<a href="https://colab.research.google.com/github/robertoarturomc/ProgramacionInformacion/blob/main/Tercer_Parcial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Programación de la Información
# Tercer Parcial

Lee con detenmimiento y contesta lo que se te solicita. Antes de finalizar, sube tu archivo en formato .ipynb al espacio correspondiente en Brightspace.

Recuerda: si no te sale el resultado, deja escrito tu intento.

¡Mucho éxito, y que la suerte esté siempre de su lado!

In [1]:
import pandas as pd
import numpy as np

## El Índice _Big Mac_

Inventado por _The Economist_ en 1986, es una guía para saber si las monedas están en su nivel "correcto". Se basa en la teoría de la paridad del poder adquisitivo (PPA); "el dólar debe comprar la misma cantidad de bienes o servicios en todos los países".

Por ejemplo: Una _Big Mac_ cuesta £3.49 en Reino Unido y $5.66 USD en los Estados Unidos. El tipo de cambio implícito es 0.62 dólares = 1 libra. El tipo de cambio real es de 0.73, lo sugiere que la libra esterlina está subvaluada en un 15.9%.

A continuación, leerás y "limpiarás" los costos de la Big Mac en un grupo de países.

In [2]:
wiki = pd.read_html('https://es.wikipedia.org/wiki/%C3%8Dndice_Big_Mac')

df_sucio = wiki[1]
df_sucio.head()

        PAIS PRECIO PROMEDIO  SUELDO MEDIO RESULTADO
0      Catar    3.57 dólares          5475      1533
1  Sudafrica    2.16 dólares          3290      1523
2     Libano    1.77 dólares          2622      1481
3   Singapur    4.43 dólares          6550      1478
4     Taiwan    2.57 dólares          3600      1400

Con los siguientes pasos limpias la tabla y guardas los resultados en un DataFrame llamado _indice_. No es necesario que entiendas ahorita qué hace cada línea de código.

In [3]:
indice = df_sucio.loc[df_sucio["RESULTADO"] != "No data", :].copy()
indice["RESULTADO"] = indice["RESULTADO"].astype("float")

precios = indice["PRECIO PROMEDIO"].str.split(" ")
indice["PRECIO PROMEDIO"] = precios.apply(lambda x: float(x[0].replace(",", ".")))

indice

                      PAIS  PRECIO PROMEDIO  SUELDO MEDIO  RESULTADO
0                    Catar             3.57          5475    1533.00
1                Sudafrica             2.16          3290    1523.00
2                   Libano             1.77          2622    1481.00
3                 Singapur             4.43          6550    1478.00
4                   Taiwan             2.57          3600    1400.00
5                Hong Kong             2.64          3912    1368.00
6                Dinamarca             4.90          5550    1132.00
7   Emiratos Arabes Unidos             4.02          4302    1070.00
8           Arabia Saudita             3.73          3985    1068.00
9                    Rusia             1.81          1790     988.00
10                Alemania             4.23          3393     802.00
11           Corea del Sur             4.10          3122     761.00
12               Australia             4.98          3599     722.00
13                   Suiza             7.29          5000     685.87
14          Estados Unidos             5.66          3600     636.00
15           Nueva Zelanda             4.87          3050     626.00
16                  Monaco            11.00          6857     623.36
17                 Francia             5.14          3201     622.00
18                  Canada             5.29          3082     582.00
19                 Noruega             6.09          3394     557.00
20                Islandia             6.36          3448     542.00
21             Reino Unido             4.44          2297     517.00
22                  Suecia             6.37          3122     490.00
23                 Holanda             8.00          3408     486.00
24                 Irlanda             7.00          3016     430.00
25              Luxemburgo            10.00          4200     420.00

Interpretar el precio en dólares puede ser difícil.
### 1. Crea una nueva columna llamada "PRECIO PESOS". Usa una tasa de conversión de 20 pesos = 1 dólar

### 2. ¿De cuánto es el "PRECIO PESOS" más alto? ¿Y el más bajo?

### 3. ¿Cuál es la mediana de "SUELDO MEDIO" entre los países evaluados?

### 4. Calcula la correlación de Pearson entre PRECIO PROMEDIO y SUELDO MEDIO
Esto te servirá para ver si hay alguna relación lineal (¿Las hamburguesas son proporcionalente más caras en los países que ganan más?).

El Salario mínimo en el centro de México (2022) es de $172.87 diarios.

### 5. Filtra la tabla para ver aquellos países en los que *NO* alcanzaría comprar una Big Mac con ese salario mínimo.

### 6. Usa la función correspondiente de NumPy para calcular el logaritmo natural de la columna "RESULTADO". Guárda el resultado en una variable lamada _logaritmos_

### 7. Filtra la tabla para observar los últimos 6 registros. 
Como la tabla ya estaba ordenada según RESULTADO, esos son los 6 países con peor relación PRECIO-SUELDO (aquellos donde se pueden comprar menos Big Mac con el Sueldo de un ciudadano promedio).

In [ ]:
indice

                      PAIS  PRECIO PROMEDIO  SUELDO MEDIO  RESULTADO
0                    Catar             3.57          5475    1533.00
1                Sudafrica             2.16          3290    1523.00
2                   Libano             1.77          2622    1481.00
3                 Singapur             4.43          6550    1478.00
4                   Taiwan             2.57          3600    1400.00
5                Hong Kong             2.64          3912    1368.00
6                Dinamarca             4.90          5550    1132.00
7   Emiratos Arabes Unidos             4.02          4302    1070.00
8           Arabia Saudita             3.73          3985    1068.00
9                    Rusia             1.81          1790     988.00
10                Alemania             4.23          3393     802.00
11           Corea del Sur             4.10          3122     761.00
12               Australia             4.98          3599     722.00
13                   Suiza             7.29          5000     685.87
14          Estados Unidos             5.66          3600     636.00
15           Nueva Zelanda             4.87          3050     626.00
16                  Monaco            11.00          6857     623.36
17                 Francia             5.14          3201     622.00
18                  Canada             5.29          3082     582.00
19                 Noruega             6.09          3394     557.00
20                Islandia             6.36          3448     542.00
21             Reino Unido             4.44          2297     517.00
22                  Suecia             6.37          3122     490.00
23                 Holanda             8.00          3408     486.00
24                 Irlanda             7.00          3016     430.00
25              Luxemburgo            10.00          4200     420.00

### 8. Divide el precio de una Big Mac en EEUU, entre el precio de una Big Mac en Canada.

### Extra: Reto economista. 
#### Responde, con un comentario de Python, alguna interpretación/conclusión del resultado del ejercicio 8.

Si te sirve (pero no necesariamente tienes que ocuparlo), 1 dólares estadounidense = 1.36 dólar canadiense.