In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Ejercicio 10: Principios Visualización

Corre la siguiente celda para leer el archivo csv. Éste contiene información sobre Pokémon, así como sus atributos (Velocidad, ataque, defensa especial, etc.) A continuación, realiza las tareas que se te solicitan.

In [10]:
df=pd.read_csv("https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv")
df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

### 1. Crea un nuevo DataFrame, llamado _df2_. Este debe contener todas las hileras de _df_, pero sólo conservando las columnas "Type 1", "Speed", "Generation" y "Legendary"

### 2. Usa df2 para calcular las velocidades promedio segùn cada "Type 1".

Tip: usa `.groupby("Type 1")` y la función correspondiente para calcular el promedio.

### 3. Usa df2 para calcular las velocidades promedio según "Generation" y "Legendary".

Tip: usa `.groupby()` con la función correspondiente para calcular el promedio, pero en vez de poner una columna dentro del paréntesis, pon una lista con los nombres de ambas columnas.

### 4. Crea un nuevo DataFrame, llamado _df3_. Este debe contener todas las columnas de _df_, pero sólo conservando los Pokémon Legendarios ("Legendary"==True)

### 5. Realiza un _Scatterplot_. Utiliza _df3_. En el eje X, coloca "Speed", y en el eje Y, "Attack".

¿Te das cuenta de que existen algunos Pokémon Legendarios, pero con muz baja velocidad y ataque? Si sólo hubiéramos visto la tabla, quizá no lo hubiéramos notado...pero en la gráfica, es más que evidente su existencia.