# 6.1. Introducción a R

R es un lenguaje usado en Análisis de Datos, Estadística y Aprendizaje de Máquina, más popular en la Academia que Python.

Desde hace varios años, los Analistas han debatido sobre qué lenguaje es mejor...y la respuesta correcta, es que ambos son excelentes. De hecho, podemos hacer prácticamente lo mismo con ambos, pero cada uno con sus respectivas ventajas.

¡Recuerda! Es como un lenguaje hablado de las personas: siempre podré cantar ópera en Alemán, y regañar a alguien en Latin...pero si lo hago al revés, tendré mayor facilidad.

¿Qué ventajas suele tener R?
* _Piping_.
* Facilidad y Capacidad de Graficación.
* Velocidad (a veces).
* Paquetes Estadísticos Especializados.

## Abriendo R en Google Colab

En la barra de opciones:
1. Entorno de ejecución.
2. Cambiar tipo de entorno de ejecución.

## Los básicos del código en R
### Asignar variables

Al igual que en Python (y a diferencia de muchos otros lenguajes de programación), en R puedo asignar variables directamente, sin primero especificar el tipo de dato. 

No obstante, aquí cambia la forma en la que lo hago: tengo que ocupar una flecha (`<-`), formada por el símbolo de _menor que_, seguida de un guión. Así, el valor de la derecha es asignado al nombre de la izquierda.

Nota 1: en caso de emergencia, ¡incluso puedo hacerlo al revés!

Nota 2: técnicamente, también se puede usar el símbolo de igual. No obstante, para tener un código más claro (eso incluye al  _piping_, que veremos más adelante), se prefiere usar la flecha.

In [23]:
a <- 3
a

[1] 3

In [24]:
b <- 3.1415
b

[1] 3.1415

In [32]:
d <- "Este es un string"
d

[1] "Este es un string"

In [26]:
# ¡Ojo! Es posible, pero ALTAMENTE desalentado.
"Otro string" -> e
d

[1] "Este es un string"

In [27]:
f <- TRUE
f

[1] TRUE

In [28]:
g <- FALSE
g

[1] FALSE

In [29]:
h <- T
h

[1] TRUE

In [30]:
i = F
i

[1] FALSE

Nota: ¿alguien notó cómo me brinqué la letra _'c'_? Eso es porque, en R, la voy a usar para algo más importante...

### Vectores en R
Al igual que las listas de Python, un **vector** de R puede guardar más de un elemento. 

A diferencia de las listas de Python, un vector sólo puede guardar datos de UN mismo tipo. (¿Ves cómo NumPy le copió a R?)

In [17]:
disney <- c("mickey", "minnie", "donald", "goofy")
disney

[1] "mickey" "minnie" "donald" "goofy"

In [33]:
marvel <- c("Iron Man", "Black Widow", "Thor")
marvel

[1] "Iron Man"    "Black Widow" "Thor"

In [16]:
numeros <- c(1, 3, 5, 7, 9, 11)
numeros

[1]  1  3  5  7  9 11

In [54]:
vec <- c("tres", "cuatro", 5)
vec

[1] "tres"   "cuatro" "5"

Usando mi _función_ `c()`, también puedo fusionar dos vectores.

In [35]:
nuevo_disney <- c(disney, marvel)
nuevo_disney

[1] "mickey"      "minnie"      "donald"      "goofy"       "Iron Man"
[6] "Black Widow" "Thor"

Al igual que en Python, puedo usar los corchetes `[]` para acceder a uno o más datos.

A diferencia de Python, aquí sí puedo empezar a contar desde __1__.

In [38]:
marvel[1]

[1] "Iron Man"

In [42]:
marvel[0]

character(0)

In [43]:
nuevo_disney[2:5]

[1] "minnie"   "donald"   "goofy"    "Iron Man"

En Python, usar números negativos significaba que contaba de atrás para adelante:
`lista[-1]` me hubiera devuelto el último valor, `lista[-2]` el penúltimo, etc.

En R, usar números negativos significa que quiero ver todos los valores **excepto** el/los que están en negativo.

In [49]:
marvel[-1]

[1] "Black Widow" "Thor"

In [51]:
nuevo_disney[-2:-3]

[1] "mickey"      "goofy"       "Iron Man"    "Black Widow" "Thor"

### Operaciones con vectores.

Al igual que en NumPy, se pueden realizar operaciones de forma directa en vectores de R.

In [59]:
numeros + 1

[1]  2  4  6  8 10 12

In [60]:
numeros * 3

[1]  3  9 15 21 27 33

In [61]:
numeros ** 2

[1]   1   9  25  49  81 121

In [64]:
numeros / 4

[1] 0.25 0.75 1.25 1.75 2.25 2.75

In [71]:
numeros %% 3

[1] 1 0 2 1 0 2

In [67]:
numeros < 4

[1] FALSE FALSE  TRUE  TRUE  TRUE  TRUE

In [73]:
(numeros >=2) & (numeros %% 3 == 0)

[1] FALSE  TRUE FALSE FALSE  TRUE FALSE

In [74]:
numeros

[1]  1  3  5  7  9 11

### Data Frames
Trabajar con _Data Frames_ en R es de lo más común. A diferencia de Python, que tuvo que esperarse al desarollo de las liberías _Pandas_ y _NumPy_, en R ya es posible trabajar con ellos desde la versión básica.

In [80]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

Seleccionar datos es muy parecido a como lo haría con Python; sin embargo, acá **no** es necesario usar `.iloc` ó `.loc`.

In [82]:
mtcars["mpg"]

                    mpg
Mazda RX4           21.0
Mazda RX4 Wag       21.0
Datsun 710          22.8
Hornet 4 Drive      21.4
Hornet Sportabout   18.7
Valiant             18.1
Duster 360          14.3
Merc 240D           24.4
Merc 230            22.8
Merc 280            19.2
Merc 280C           17.8
Merc 450SE          16.4
Merc 450SL          17.3
Merc 450SLC         15.2
Cadillac Fleetwood  10.4
Lincoln Continental 10.4
Chrysler Imperial   14.7
Fiat 128            32.4
Honda Civic         30.4
Toyota Corolla      33.9
Toyota Corona       21.5
Dodge Challenger    15.5
AMC Javelin         15.2
Camaro Z28          13.3
Pontiac Firebird    19.2
Fiat X1-9           27.3
Porsche 914-2       26.0
Lotus Europa        30.4
Ford Pantera L      15.8
Ferrari Dino        19.7
Maserati Bora       15.0
Volvo 142E          21.4

In [98]:
mtcars[c("mpg", "hp")]

                    mpg  hp
Mazda RX4           21.0 110
Mazda RX4 Wag       21.0 110
Datsun 710          22.8  93
Hornet 4 Drive      21.4 110
Hornet Sportabout   18.7 175
Valiant             18.1 105
Duster 360          14.3 245
Merc 240D           24.4  62
Merc 230            22.8  95
Merc 280            19.2 123
Merc 280C           17.8 123
Merc 450SE          16.4 180
Merc 450SL          17.3 180
Merc 450SLC         15.2 180
Cadillac Fleetwood  10.4 205
Lincoln Continental 10.4 215
Chrysler Imperial   14.7 230
Fiat 128            32.4  66
Honda Civic         30.4  52
Toyota Corolla      33.9  65
Toyota Corona       21.5  97
Dodge Challenger    15.5 150
AMC Javelin         15.2 150
Camaro Z28          13.3 245
Pontiac Firebird    19.2 175
Fiat X1-9           27.3  66
Porsche 914-2       26.0  91
Lotus Europa        30.4 113
Ford Pantera L      15.8 264
Ferrari Dino        19.7 175
Maserati Bora       15.0 335
Volvo 142E          21.4 109

In [88]:
mtcars[6, 4]

[1] 105

In [89]:
mtcars["Valiant", 4]

[1] 105

In [90]:
mtcars["Valiant", "hp"]

[1] 105

In [91]:
mtcars[6, "hp"]

[1] 105

También, puedo seleccionar más de elemento si lo necesito...

In [93]:
mtcars[5:10, c("mpg", "gear")]

                  mpg  gear
Hornet Sportabout 18.7 3
Valiant           18.1 3
Duster 360        14.3 3
Merc 240D         24.4 4
Merc 230          22.8 4
Merc 280          19.2 4

Y claro, si tengo duda sobre alguna función, también puedo usar mi signo de interrogración para ver la documentación...aunque en el caso de R, este va _antes_ de la función.

In [99]:
?head