# Ejercicios de Repaso - R

## Heroes de RPymoli
Trabajaremos con un set de datos que contiene información de usuarios que juegan online, y las compras de objetos que estos han realizado dentro del videojuego.

In [1]:
library(tidyverse)

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.1.0     v purrr   0.3.2
v tibble  2.1.1     v dplyr   0.8.3
v tidyr   0.8.3     v stringr 1.4.0
v readr   1.3.1     v forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
# Cargar archivo
file_to_load <- "https://raw.githubusercontent.com/robertoarturomc/ProgramacionInformacion/main/resources/purchase_data.csv"

# Leer archivo y guardarlo en un Pandas data frame
purchase_data <- read_csv(file_to_load)

purchase_data %>% head()

Parsed with column specification:
cols(
  `Purchase ID` = col_double(),
  SN = col_character(),
  Age = col_double(),
  Gender = col_character(),
  `Item ID` = col_double(),
  `Item Name` = col_character(),
  Price = col_double()
)

  Purchase ID SN            Age Gender Item ID
1 0           Lisim78       20  Male   108
2 1           Lisovynya38   40  Male   143
3 2           Ithergue48    24  Male    92
4 3           Chamassasya86 24  Male   100
5 4           Iskosia90     23  Male   131
6 5           Yalae81       22  Male    81
  Item Name                                 Price
1 Extraction, Quickblade Of Trembling Hands 3.53
2 Frenzied Scimitar                         1.56
3 Final Critic                              4.88
4 Blindscythe                               3.27
5 Fury                                      1.44
6 Dreamkiss                                 3.61

### 1. Conteo de Compras
Muestra cuántos compras hubo en total.

### 2. Calcula la edad promedio y la mediana de precios
Guarda esos valores en variables.

### 3. Calcula el porcentaje y conteo de cada uno de los valores distintos que aparezcan en "Gender"

### 4. Calcula: ¿qué cinco usuarios (_SN_) gastaron más en total?

### 5. ¿Qué 10 _items_ fueron los más comprados por las mujeres?

### 6. Crea una nueva columna: calcula la edad, pero en meses.

### 7. Los usuarios con mayor edad, ¿compran cosas más caras?
* a) Agrupa según edad, calcula el promedio gastado por cada edad y en tu tabla que resulte, calcula una regresión lineal: gasto vs edad.


* b) Interpreta el coeficiente de edad: por cada año nuevo cumplido, ¿cuánto más se espera que gasten?

* c) Revisa $R^2$. ¿Es un buen modelo? Para este caso, definamos "bueno" como aquel que el valor es mayor a 0.5

### 8. Filtra: observa solamente el valor de la décima hilera y segunda columna.