In [ ]:
import numpy as np
import pandas as pd

# 4.2 Pandas

No; hoy no hablaremos del animal :'( 

Se trata de un paquete de Python, y el nombre hace referencia tanto a _Panel Data_ (en Econometría, una forma común de acomodar datos), como a _Python Data Analysis_.

Busca copiar los _Data Frames_ de lenguajes e Programación orientados al análisis, como _R_. Para su desarrollo, se basaron en NumPy, pero agregando funcionalidades nuevas. 

A todo esto...

### ¿Qué es un _Data Frame_?

Es una tabla.

.

.

.

Es mismo el formato con el que seguramente trabajaste alguna vez en Excel: datos acomodados en filas y en columnas.

Pero, espera...¡las matrices  (y los arreglos de NumPy) también tienen filas y columnas!

Entonces, ¿qué distingue a los _Data Frames_?

Vamos a ver cómo se ve uno, a ver si distingues las diferencias...

In [ ]:
data = pd.read_csv("sample_data/california_housing_test.csv")
data.head()

In [ ]:
# Así se vería el mismo dataset, pero en NumPy...
data.to_numpy()

## Características de los Data Frames:

* Cada columna es de un tipo de Dato (texto, numérico...)
 * Esto porque en sí, cada columna es su propia estructura de datos, llamadas __Series.__
* Tienen títulos.
  * Normalmente, sólo en las columnas, pero cada hilera también podría tener su propio título.

De hecho, ya conocíamos otra estructura de Datos con títulos: los _diccionarios_. No obstante, para análisis de datos, preferimos los _Data Frames_ ya que:
* Son compatibles con la mayoría de las funciones de NumPy.
* Permiten manipular facilmente grandes cantidades de datos.

## Creando Data Frames

1. Desde cero.

In [ ]:
df = pd.DataFrame([1, 2, 3])
df.head()

2. Transformando un diccionario.

In [ ]:
diccionario = {"Nombre": ["Pikachu", "Mewtwo", "Greninja"],
               "Tipo": ["Eléctrico", "Psíquico", "Agua/Luchador"],
               "Nivel": [5, 50, 36]}

df2 = pd.DataFrame(diccionario)
df2.head()

3. Convirtiendo un arreglo de NumPy

In [ ]:
arreglo = np.array([[5, 10, 13],
                    [12, 11, 15],
                    [2, 3, 3]])
arreglo

In [ ]:
df3 = pd.DataFrame(arreglo, columns=["Ancho", "Largo", "Altura"])
df3

4. Trayendo datos desde fuentes externas.

    (La forma más común).

In [ ]:
# ¿Te suena?
data = pd.read_csv("sample_data/california_housing_test.csv")
data.head()

Nota: el método `.head()` ayuda a previsualizar el _Data Frame_. Como, a partir de ahora, veremos cantidades de datos más grandes, ver _TODOS_ los datos de golpe puede ser abrumador.

In [ ]:
# Normalmente, veremos las primeras cinco hileras
data.head()

In [ ]:
# Pero podemos especificar otra cantidad de datos
data.head(10)

In [ ]:
# E igualmente, con .tail podemos ver la parte final de los datos
data.tail()

## Seleccionando Columnas

Seleccionar una columna es muy similar a como lo haríamos con la llave de un diccionario:

`nombreDataFrame['columna']`

In [ ]:
data['longitude']

In [ ]:
# Pero, para sólo visualizar los primeros datos...
data['housing_median_age'].head()

## Creando nuevas Columnas

Otro parecido con los diccionarios: si quiero una nueva columna, basta con definir los valores que le quiero poner.

`nombreDataFrame['columnaNueva'] = valores`

valores puede ser un mismo valor, que se repetirá tanto como sea necesario.

In [ ]:
data['valor_peso'] = 20
data.head()

In [ ]:
También puede ser una lista, un arreglo de NumPy, una serie de Pandas...en fin.

In [ ]:
data['median_income_pesos'] = data['median_income'] * data['valor_peso']

In [ ]:
data['population'] = data[]
data.head()

¡Ojo! Al igual que un diccionario, puedo terminar sobreescribiendo una columna de un Data Frame si es que ya existía...

In [ ]:
data['longitude'] = "diez"
data.head()