In [1]:
import numpy as np
import pandas as pd

# 4.2 Pandas

No; hoy no hablaremos del animal :'( 

Se trata de un paquete de Python, y el nombre hace referencia tanto a _Panel Data_ (en Econometría, una forma común de acomodar datos), como a _Python Data Analysis_.

Busca copiar los _Data Frames_ de lenguajes e Programación orientados al análisis, como _R_. Para su desarrollo, se basaron en NumPy, pero agregando funcionalidades nuevas. 

A todo esto...

### ¿Qué es un _Data Frame_?

Es una tabla.

.

.

.

Es mismo el formato con el que seguramente trabajaste alguna vez en Excel: datos acomodados en filas y en columnas.

Pero, espera...¡las matrices  (y los arreglos de NumPy) también tienen filas y columnas!

Entonces, ¿qué distingue a los _Data Frames_?

Vamos a ver cómo se ve uno, a ver si distingues las diferencias...

In [2]:
data = pd.read_csv("sample_data/california_housing_test.csv")
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [3]:
# Así se vería el mismo dataset, pero en NumPy...
data.to_numpy()

array([[-1.22050e+02,  3.73700e+01,  2.70000e+01, ...,  6.06000e+02,
         6.60850e+00,  3.44700e+05],
       [-1.18300e+02,  3.42600e+01,  4.30000e+01, ...,  2.77000e+02,
         3.59900e+00,  1.76500e+05],
       [-1.17810e+02,  3.37800e+01,  2.70000e+01, ...,  4.95000e+02,
         5.79340e+00,  2.70500e+05],
       ...,
       [-1.19700e+02,  3.63000e+01,  1.00000e+01, ...,  2.20000e+02,
         2.28950e+00,  6.20000e+04],
       [-1.17120e+02,  3.41000e+01,  4.00000e+01, ...,  1.40000e+01,
         3.27080e+00,  1.62500e+05],
       [-1.19630e+02,  3.44200e+01,  4.20000e+01, ...,  2.60000e+02,
         8.56080e+00,  5.00001e+05]])

## Características de los Data Frames:

* Cada columna es de un tipo de Dato (texto, numérico...)
 * Esto porque en sí, cada columna es su propia estructura de datos, llamadas __Series.__
* Tienen títulos.
  * Normalmente, sólo en las columnas, pero cada hilera también podría tener su propio título.

De hecho, ya conocíamos otra estructura de Datos con títulos: los _diccionarios_. No obstante, para análisis de datos, preferimos los _Data Frames_ ya que:
* Son compatibles con la mayoría de las funciones de NumPy.
* Permiten manipular facilmente grandes cantidades de datos.

## Creando Data Frames

1. Desde cero.

In [4]:
df = pd.DataFrame([1, 2, 3])
df.head()

   0
0  1
1  2
2  3

2. Transformando un diccionario.

In [5]:
diccionario = {"Nombre": ["Pikachu", "Mewtwo", "Greninja"],
               "Tipo": ["Eléctrico", "Psíquico", "Agua/Luchador"],
               "Nivel": [5, 50, 36]}

df2 = pd.DataFrame(diccionario)
df2.head()

     Nombre           Tipo  Nivel
0   Pikachu      Eléctrico      5
1    Mewtwo       Psíquico     50
2  Greninja  Agua/Luchador     36

In [11]:
diccionario["Tipo"]

['Eléctrico', 'Psíquico', 'Agua/Luchador']

3. Convirtiendo un arreglo de NumPy

In [ ]:
arreglo = np.array([[5, 10, 13],
                    [12, 11, 15],
                    [2, 3, 3]])
arreglo

In [ ]:
df3 = pd.DataFrame(arreglo, columns=["Ancho", "Largo", "Altura"])
df3

4. Trayendo datos desde fuentes externas.

    (La forma más común).

In [6]:
# ¿Te suena?
data = pd.read_csv("sample_data/california_housing_test.csv")
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [7]:
!head sample_data/california_housing_test.csv

"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"
-122.050000,37.370000,27.000000,3885.000000,661.000000,1537.000000,606.000000,6.608500,344700.000000
-118.300000,34.260000,43.000000,1510.000000,310.000000,809.000000,277.000000,3.599000,176500.000000
-117.810000,33.780000,27.000000,3589.000000,507.000000,1484.000000,495.000000,5.793400,270500.000000
-118.360000,33.820000,28.000000,67.000000,15.000000,49.000000,11.000000,6.135900,330000.000000
-119.670000,36.330000,19.000000,1241.000000,244.000000,850.000000,237.000000,2.937500,81700.000000
-119.560000,36.510000,37.000000,1018.000000,213.000000,663.000000,204.000000,1.663500,67000.000000
-121.430000,38.630000,43.000000,1009.000000,225.000000,604.000000,218.000000,1.664100,67000.000000
-120.650000,35.480000,19.000000,2310.000000,471.000000,1341.000000,441.000000,3.225000,166900.000000
-122.840000,38.400000,15.000000,3080.000000,617.000000,1446.000000,599.000000,3.669600,194400.000000

Nota: el método `.head()` ayuda a previsualizar el _Data Frame_. Como, a partir de ahora, veremos cantidades de datos más grandes, ver _TODOS_ los datos de golpe puede ser abrumador.

In [8]:
# Normalmente, veremos las primeras cinco hileras
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [9]:
# Pero podemos especificar otra cantidad de datos
data.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0

In [10]:
# E igualmente, con .tail podemos ver la parte final de los datos
data.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

## Seleccionando Columnas

Seleccionar una columna es muy similar a como lo haríamos con la llave de un diccionario:

`nombreDataFrame['columna']`

In [12]:
data['longitude']

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

In [13]:
# Pero, para sólo visualizar los primeros datos...
data['housing_median_age'].head()

0    27.0
1    43.0
2    27.0
3    28.0
4    19.0
Name: housing_median_age, dtype: float64

## Creando nuevas Columnas

Otro parecido con los diccionarios: si quiero una nueva columna, basta con definir los valores que le quiero poner.

`nombreDataFrame['columnaNueva'] = valores`

valores puede ser un mismo valor, que se repetirá tanto como sea necesario.

In [15]:
data['valor_peso'] = 20
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,valor_peso
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,20
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,20
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,20
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,20
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,20

In [ ]:
# También puede ser una lista, un arreglo de NumPy, una serie de Pandas...en fin.

In [16]:
data['median_income_pesos'] = data['median_income'] * data['valor_peso']

¡Ojo! Al igual que un diccionario, puedo terminar sobreescribiendo una columna de un Data Frame si es que ya existía...

In [18]:
data['longitude'] = "diez"
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,valor_peso,median_income_pesos
0,diez,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,20,132.170
1,diez,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,20,71.980
2,diez,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,20,115.868
3,diez,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,20,122.718
4,diez,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,20,58.750

In [19]:
data.rename(columns={"longitude":"otro nombre"})

,otro nombre,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,valor_peso,median_income_pesos
0,diez,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,20,132.170
1,diez,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,20,71.980
2,diez,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,20,115.868
3,diez,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,20,122.718
4,diez,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,20,58.750
...,...,...,...,...,...,...,...,...,...,...,...
2995,diez,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,20,23.580
2996,diez,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,20,67.812
2997,diez,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,20,45.790
2998,diez,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,20,65.416
2999,diez,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,20,171.216