# Operaciones
## Operaciones Numéricas

Un uso muy sencillo que le podemos dar a Python, es usarlo como calculadora.

In [ ]:
2 + 2

4

In [ ]:
5 -2

3

In [ ]:
3 * 3

9

In [ ]:
71/9

7.888888888888889

### Operación Módulo

Esta operación nos devuelve el residuo tras hacer una división. Por ejemplo, si hago 11 Módulo 3 => divido 11 entre 4, el resultado entero es 2, y me sobran 3. 
Por lo tanto, 11 mod 4 = 3.

En Python, ocupo un simbolo de portcentaje (`%`)

In [ ]:
21 % 5

1

## Potencias

Para elevar a una potencia, ocupo dos asteriscos seguidos.

In [ ]:
3 ** 3

27

Eso sí, esas operaciones ¡sólo funcionan para valores numéricos!

In [ ]:
2 + "pez"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Incluso, puedo ocupar las operaciones y luego guardar esos resultados en alguna variable.

In [ ]:
var1 = 2 + 5
var1

7

O puedo ocupar variables para hacer operaciones.

In [ ]:
var1 * 3

21

Nota: se mantiene la jerarquía de las operaciones de las matemáticas. Incluso, puedo utilizar paréntesis para apoyarme.

In [ ]:
2 + 3 * 2

8

In [ ]:
(5 + 1)/2

3.0

## Operaciones de comparación

En algunas ocasiones, tendremos dos o más valores numéricos, que queremos comparar entre ellos. Para estas operaciones, también tengo símbolos matemáticos que puedo utilizar. El resultado, será un dato de tipo Booleano.

In [ ]:
# Menor que
2 < 3

False

In [ ]:
# Mayor que
4 > 1

True

In [ ]:
# Menor o igual que
1 <= -1

False

In [ ]:
# Mayor o igual que
(2+3) >= 5

True

In [ ]:
# Igual que
3 == 3

True

In [ ]:
# Distinto que
5 != 2+3

False

Si te fijas, estas operaciones se ejecutan después de haber realizado las operaciones numéricas.

## Operaciones Lógicas

"A mi me asustan todos los ratones Y la mascota de Susana es un ratón".

Tendré miedo de la mascota de Susana, ¿cierto o falso?

In [ ]:
# Conjuncion (y)
True and True

True

In [ ]:
(5 > 3) and (3 < 1)

False

In [ ]:
# Disyuncion (o)
False or True

True

In [ ]:
# Negacion (no)
not True

False

Recuerda: 
* **and** sólo dará _True_ si los dos argumentos son _True_
* **or** sólo dará _False_ si los dos argumentos son _False_
* **not** sólo cambia _True_ a _False_ y viceversa.

Tip: Googlea "Tablas de verdad" cuando tengas duda de los resultados.

¡Los operadores lógicos se aplican después de las operaciones de comparación!

## Operaciones con texto.

¿Qué pasa si trato de sumar valores _string_?

In [ ]:
suma_strings = "My name is" + " " + "Slim Shady"
print(suma_strings)

My name is Slim Shady

¡Los textos fueron concatenados (unidos) en uno solo!

¿Funcionará también si trato de unir textos con números?

In [ ]:
edad = 19
print("Yo tengo " + edad + " años")

TypeError: can only concatenate str (not "int") to str

¡Python no puede convertir automáticamente un número, a un texto! Necesito pedírselo explícitamente. Vamos a volver a intentarlo:

In [ ]:
edad_string = str(edad)

print("Yo tengo " + edad_string + " años")

Yo tengo 19 años

O incluso, puedo hacerlo directamente dentro de mi orden de _print_:

In [ ]:
print("Yo tengo " + str(edad) + " años")

Yo tengo 19 años

Nota: escribir buen código no sólo es una ciencia, sino también un arte. Hay veces en la que será mejor idea hacer paso por paso las operaciones, y otras veces, en las que sea mejor hacer varias pasos en el mismo renglón. ¿La idea? Hacer lo que me ayude a que mi código sea legible y claro.